/* Write your CSS here */

.bg-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-container {
  background-color: #150b3e;
  padding: 50px;
  width: 700px;
  border-radius: 10px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-pic-container {
  background-color: #c7d2fe;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
}
.profile-pic-letter {
  font-family: 'Roboto';
  color: #7c3aed;
  font-size: 24px;
}
.profile-name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 24px;
  padding-left: 30px;
}
.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.your-balance-text {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 22px;
}
.balance-amount-container {
}
.balance-amount {
  color: #d4d2db;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
}
.in-rupess-text {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: -10px;
}
.withdraw-container {
}
.withdraw-heading {
  color: #d4d2db;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 34px;
}
.choose-sum-text {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: -5px;
  font-size: 20px;
}

.denominations-container {
  display: flex;
  flex-wrap: wrap;
}
.each-denomination {
  width: 220px;
  height: 50px;
  color: #d4d2db;
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  font-size: 26px;
  font-weight: bold;
  margin-right: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}
